body {
    background: rgb(0, 48, 25);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(245, 245, 245);
    text-align: center;
    padding-top: 2px;
}

h1 {
    font-size: 70px;
}

#list {
    padding: 0px;
}


div {
    padding: 20px;
}